/*home page headings and paragraphs*/
#main-htext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

#main-ptext {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-style: italic;
    padding-left: 10px;
}

#main-2ptext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 10px;
}



#main-3ptext {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    padding-left: 10px;
}





#main-4ptext {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-style: italic;
    padding-left: 10px;
}


#main-uheading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(101, 27, 116);
    text-decoration: underline;
    padding: 15px;
}

#main-uheading2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
}

#headertext-purple {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(101, 27, 116);
    padding-left: 15px;
}

#main-5ptext{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 10px;
}




body {
    box-sizing: border-box;
    background-image: url('../images/Background.jpg');
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    
}





/*index irow images*/
.irow {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}


.irow-img {
    min-width: 100px;
    flex: 10px;
    padding: 15px;
}

.irow-text {
    flex: 25%;
}


/*index images*/

.in-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*aligns a flexible container's lines with the cross-start edge of the flexbox's cross-axis*/
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.in-item {
    text-align: center;
    flex: 1; /* Each item takes up equal space */
    max-width: 48%; /* maximum width for image*/
    margin-bottom: 20px; /* Add space between items */
}

.in-item img {
    width: 100%;
    /* Make the images fill their container */
    height: auto;
    padding-left: 10px;
}

.in-title {
    margin-top: 10px;
    /* Adjust spacing */
    font-family: Arial, Helvetica, sans-serif;
}









img {
    width: 100%;
    height: auto;
}




/*logo*/
.logo {
    width: 140px;
    height: 140px;
    display: inline-block; /* create boxes that automatically wrap text and other content*/
    flex-basis: 140px; /*sets the initial size of a flex item before it grows or shrinks*/
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 15px;
}







/*nav bar*/
.navbar {
    overflow: hidden; /*occurs when an element's content does not fit entirely inside the element box*/
    background-color: #ffd8eb;
    text-align: center;/* Center align the navigation links */
}

.navbar ul {
    list-style-type: none; /*specifies the type of list-item marker in a list.*/
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;/* Display the links as inline blocks */
    color: rgb(101, 27, 116);
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.navbar a:hover {   /*a pseudo-class*/
    background-color: rgb(59, 134, 93);
    color: rgb(255, 255, 255);
}

.nav-links a:hover {     /*a pseudo-class*/
    background-color: rgb(59, 134, 93);
    color: rgb(255, 255, 255);
}

.nav-links a.current {   /*a pseudo-class*/
    background-color: rgb(101, 27, 116);
    color: rgb(255, 255, 255);
}











/*zlayout*/
.zrow {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.zrow-reverse {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
}

.zrow-img {
    min-width: 100px;
    flex: 25%;
    padding: 15px;
}

.zrow-text {
    flex: 75%;
}

#zmain-htext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

#bullet-points {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#zmain-uhtext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    text-decoration: underline;
}





/*video*/
.video-container {
    width: 80%; /* Adjust the width*/
    margin: 0 auto; /* Center the video container */
    font-family: Arial, Helvetica, sans-serif;
}

.video {
    margin-bottom: 40px; /* Add some space between videos */
}

.video video {
    width: 100%; /* Make the videos fill the width of their container */
}











/*boxlayout*/

.box-container {
    display: flex;
    justify-content: space-around;
}

.box-img {
    max-width: 600px;
    height: auto;
}

.box-container2 {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.btext-container {
    flex: 1;
    /* Each container takes equal space */
    border: 1px solid black;
    padding: 10px;
    /*Space around content border*/
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}








/*split screen layout*/
.split-screen {
    display: flex;
    height: 100vh;
    padding-bottom: 100px;
}

.left-side,
.right-side {
    flex: 1;
    padding: 15px;
}

.left-side {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.right-side {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

#order-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 10px;
}

#faq-uhtext2{
    text-decoration: underline;
}

#faq-uhtext{
    text-decoration: underline;
}







/*cardgrid*/
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 20px;
}





/*asymmetricallayout*/
.a-container {
    display: flex;
}

.a-left {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.a-right {
    flex: 2;
    background-color: #e0e0e0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.a-right img {
    max-width: 100%;
    height: auto;
}



/*hamburger menu icon*/
.hamburger {
    font-size: 50px;
    cursor: pointer;
    display: none;
    color: rgb(101, 27, 116);
}


/*footer*/
#footer {
    text-align: center;
    padding: 10px;
}

#foot-content {
    display: flex;
    flex-direction: row;
}




.table {
    border-collapse: collapse;
    width: 500px;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }






/*tablet view*/
@media only screen and (min-width: 601px) and (max-width: 900px) {
    


    /*zlayout*/
    .zrow {
        display: flex;
        flex-direction: column-reverse;
        font-family: Arial, Helvetica, sans-serif;
    }

    .zrow-reverse {
        display: flex;
        flex-direction: column-reverse;
        font-family: Arial, Helvetica, sans-serif;
    }



    /*index row*/
    .irow {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }

}





/*mobile view*/
@media only screen and (max-width: 600px) {
   


    /*hamburger menu icon*/
    .hamburger {
        display: block;
    }


    /*nav links*/
    .nav-links {
        display: none;
    }



    /*symmetricallayout*/
    .a-container {
        flex-direction: column;
    }

    .a-right {
        flex: 1;
    }




    /*zlayout*/
    .zrow {
        display: flex;
        flex-direction: column-reverse;
        font-family: Arial, Helvetica, sans-serif;
    }

    .zrow-reverse {
        display: flex;
        flex-direction: column-reverse;
        font-family: Arial, Helvetica, sans-serif;
    }




    /*split screen layout*/
    .split-screen {
        display: flex;
        flex-direction: column;
        height: 100vh;

    }



    /*index row*/
    .irow {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }


    /*index images*/
    .in-container {
        flex-direction: column;
        /* Switch to a column layout */
    }

    .in-item {
        max-width: 100%;
        /* Allow items to take full width */
    }

}