body {
    box-sizing: border-box;
    background-color: aliceblue;
}

.bordered-div {
    border-radius: 10px;
    border: 5px solid #73ad21;
    padding: 10px;
    width: 200px;
    margin: 10px;
}


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100px;
    align-items: first baseline;
    flex-wrap: wrap;
    
}

.main-content > div {
    flex: 25%;
}

.main-content #main-panel {
    flex: 50%;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100px;
    height: auto;
    display: inline-block;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.navi-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}
.navi-links a {
    padding: 25px 15px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #73ad21;
    flex: 1;
}

.navi-links a:hover {
    background-color: green;
    color: beige;
}

.navi-links a.current {
    background-color: rgb(59, 51, 170);
    color: rgb(31, 211, 40);
}

.all_caps {
    text-transform: uppercase;
}

@media only screen and (min-width:601px) and (max-width: 900px) {
    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
    }

    .main-content > div {
        flex: 30%;
    }
    .main-content #main-panel {
        flex: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .main-content{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: normal;
        height: auto;
}
}
