body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: darkcyan;

    
}

header {
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}


footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px; 
}

#services {
    margin: 20px 0;
}

#services .service {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

#flex-container {
    display:flex;
    flex-direction:column;
 
    /* fallback height */
    min-height:100vh;
 
    /* new small viewport height for modern browsers */
    min-height: auto;
 }
 #flex-container > footer {
    margin-top:auto;
 }
img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100px;
    height: auto;
    
}

nav {
    width: 100%;
    display: flex;
    justify-content:center;
}

.navi-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 5%;
    
}
.navi-links a {
    padding: 15px 25px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #73ad21;
    flex: 1;
}

.navi-links a:hover {
    background-color: green;
    color: beige;
}

.navi-links a.current {
    background-color: rgb(59, 51, 170);
    color: rgb(31, 211, 40);
}

.all_caps {
    text-transform: uppercase;
}


@media only screen and (min-width:601px) and (max-width: 900px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
        }
    
        header nav ul {
            flex-direction: row;
            width: 100%;
        }
        header nav ul li {
            margin: 5px 0;
        }
    
        main {
            padding: 5px;
        }

        
    }


    .container > div {
        flex: 100%;
    }
    .container #container {
        flex: 50%;
    }

@media only screen and (max-width: 600px) {

}
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .container > div {
            flex: 100%;

}
.navi-links a {
    padding: 10px;
    flex: none; /* Ensures links do not stretch */
    width: 100%;
    text-align: center;

}
