.bordered-div {
  margin: 50px; 
  padding: 20px;
  border-radius:30px;
  border: 5px double #29c75e
        
  }

    .main-content {
        border: 2px solid #0000;
        display:flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        height: 200px;  
    }
        
         /*rgb(41, 199, 94);
        
        
        /*outline: 5px solid rgb(220, 231, 66);
          width:300px; 
        box-shadow: 5px 8px 18px rgba(16, 2, 86, 0.978);
        
    
      
     
      
    /*
    padding: 10px;
    margin: 10px;*/

    
    
    /*border: 5px solid #000;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 10px;*/
    