body {
    box-sizing: border-box;
}

.bordered-div {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 5px double #2c84f0
}

.main-styling {
    border: 2px solid #050700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    box-sizing: border-box;
    /*height: 200px;*/
}

.main-styling>div {
    flex: 25%;
}


.main-styling #main-panel {
    flex: 50%;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    background-color: brown;
}

.nav-links a {
    padding: 20px 15px;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: yellow;
    color: black;
}

.nav-links a.current {
    background-color: green;
    color: white;
}

@media only screen and (min-width:601px) and (max-width: 900px) {
    .main-styling {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
    }

    .main-styling>div {
        flex: 35%;
    }

    .main-content #main-panel {
        flex: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .main-styling {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: normal;
        height: auto;
    }

    .main-styling>div {
        flex: 50%;
    }

    .main-styling #main-panel {
        flex: 100%;

    }

}


/*rgb(41, 199, 94);
        
        
        /*outline: 5px solid rgb(220, 231, 66);
          width:300px; 
        box-shadow: 5px 8px 18px rgba(16, 2, 86, 0.978);
        
    
      
     
      
    /*
    padding: 10px;
    margin: 10px;*/



/*border: 5px solid #000;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 10px;*/