.bordered-div {
    border: 5px double #e43838;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* outline: 3px solid rgb(28, 56, 12); 
    box-shadow: 0 0 10px purple; */
}

.main-styling {
    border: 2px solid #2b0e7c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start;
    height: 150px;*/
}

.main-styling>div {
    flex: 25%;
}

.main-styling #main-panel {
    flex: 50%;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .main-styling {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
    }

    .main-styling>div {
        flex: 40%;
    }

    .main-styling #main-panel {
        flex: 100%;
    }
}



@media only screen and (max-width: 600px) {
    .main-styling {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: normal;
        height: auto;
    }


    .main-styling>div {
        flex: 100%;
    }

    .main-styling #main-panel {
        flex: 100%;
    }
}