.bordered-div 
{
    border: 5px double #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px; /* Rounded border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow */
    outline: 2px solid blue; /* Outline */
}

.main-content
{
    border: 10px solid black;

}