body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
    color: black;
}

header {
    background-color: black;
    color: rgb(195, 182, 107);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 150px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: rgb(195, 182, 107);
    text-decoration: none;
}

footer {
    background-color: black;
    color: rgb(195, 182, 107);
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}


.monitoring-img {
    display: flex;
    flex-direction: column;
    flex: 25%;
    padding: 0px;
    margin-left: 0%;
    margin-right: 50%;
}

.survelance-img {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 0px;
    margin-left: 0%;
    margin-right: 70%;
}

.accesscontrol-img {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 0px;
    margin-left: 0%;
    margin-right: 80%;
}


.f-layout-text-row1 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 50%;
    text-align: justify;
    text-justify: inter-word;
}



.f-layout-text-row2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 70%;
    text-align: justify;
    text-justify: inter-word;
}



.f-layout-text-row3 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 80%;
    text-align: justify;
    text-justify: inter-word;
}


.f-layout-text-row4 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 30%;
    text-align: justify;
    text-justify: inter-word;
}

.container-asymmetrical-layout {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
    text-justify: inter-word;

}


.aboutus-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
 }


.mission-text-head {
    flex: 1;
    padding: 20px;
   }

   .mission-text-body {
    flex: 1;
    padding: 20px;
    text-align: justify;
    text-justify: auto;

   }


   .contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }


 .contact-card {
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .contact-img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      
      .contact-div {
        margin: 20px;
        padding: 80px;
        border-radius: 15px;
        border: 5px double #2c84f0
    }

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.products-box-layout   {
    flex: 1 0 300px;
      max-width: 300px;
      padding: 20px;
      border-radius: 8px;
}

.products-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }




.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
  }

  .review {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .review img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  




.bordercontact {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 5px double #090909
}

.contact-text {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.contact-img {
    flex: 50%;
    padding: 16px;
    margin-left: 2%;
    margin-right: auto;
    min-width: 50px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
    }
}