.bordered-div {
    border: 5px double #29c75e /*rgb(41,199, 94)*/;
    padding: 10px;
    margin: 10px;

    /* padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 10px; */
}