body {
  box-sizing: border-box;
  background-color:lightgray;
  /* margin: 0px;
  padding: 0px; */
}

.bordered-div {
  border: 5px double blue /*rgb(41,199, 94)*/;
  padding: 10px;
  margin: 10px;
  /*outline: 3px solid blue;  Adds a blue outline outside the red border */
  /*box-shadow: 0 0 0 8px green;  Adds a green "border" outside the blue outline */
  border-radius: 10px; /* Applies rounded corners to the border and the shadow *

    /* padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 10px; */
}

.main-styling {
  border: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 200px; */
  border-radius: 15px;
  box-sizing: border-box;
}

.main-styling > div {
  flex: 25%;
}

.main-styling #main-panel {
  flex: 50%;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 100px;
  height:100px;
  display: inline-block;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

nav{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* .nav-links li {
   background-color: aqua; 
  flex: 1 1;
} */

.nav-links a {
  padding: 10px 0px 10px 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: aqua;
  font-size: small;
  width:100%;
}

.nav-links a:hover {
  background-color: blue;
  color: white;
}

.nav-links a.current {
  background-color: green;
  color: white;
}

.all_caps{
  text-transform: uppercase;
}

h4{
  margin: 0px 5px 0px;
}

h3{
  margin: 0px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) { /*tablet view */
  .main-styling {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
  }

  .main-styling > div {
    flex: 40%;
  }

  .main-styling #main-panel {
    flex: 100%;
  }
  .nav-links li {
    /* background-color: aqua; */
    flex:1 1 33.33%;
  }
}

@media only screen and (max-width: 600px) { /*mobile view */
  .main-styling {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: normal;
    height: auto;
  }

  .main-styling > div {
    flex: 100%;
  }

  .main-styling #main-panel {
    flex: 100%;
  }

  .nav-links li {
    /* background-color: aqua; */
    flex: 100%
  }
}


